@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c8bf3;
}
section {
    padding: 50px 0;
}
.container {
    max-width: 800px;
    background-color: #fffefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 10px 10px 1px #504f4f;
    overflow: auto;
}
.container header {
    text-align: center;
}
.container header h1 {
    font-size: 2em;
}
.container header h3 {
    color: #858484;
}
.container main form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.container main form .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 7px 0;
}
main form .form-group .form-input {
    width: 500px;
    color: #5b5b5b;
}
main form .form-group .form-input #x1,
main form .form-group .form-input #x2 {
    padding-left: 8px;
    border: 1px solid #706f6f;
    width: 90%;
}
.container .btn{
    width: 20%;
    margin-right: 30px;
    background-color: #06c906;
    color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.container #clear {
    background-color: red;
}
.container .btn:hover{
    opacity: 0.5;
}
.container main form input {
    height: 35px;
}
#result table {
    width: 100%;
}
table ,th,td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px;
}
table th,
table td {
    background-color: #cfcfcf;
}
footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 40px;
    margin-top: 250px;
    background-color: #ec933f;
    line-height: 40px;
    color: #eeeeee;
}
@media screen and (max-width: 768px) {
    body{
        font-size: 45%;
        background-color: #ffffff;
    }
    section {
        padding: 0;
    }
    .container {
        border-radius: 0;
        padding: 0 0 20px 0;
        box-shadow: none;
    }
    .container header,
    .container main form {
        padding: 10px 0;
    }
    .container main form .form-group {
        padding: 0 10px;
    }
    table{
        width: 100%;
    }
    footer {
        background-color: #1c8bf3;
    }
}